<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>BowlingWeb - Display</title>
    <link rel="stylesheet" href="/static/display.css">
</head>

<body>

    <h1>BowlingWeb - Score Board</h1>

    <!-- 接続状態 -->
    <div id="status">未接続</div>
    <nav class="display-nav">

    <a href="/">抽選</a>

    <a href="/display" class="active">スコア表示</a>

    <a href="/rules">ルール</a>

</nav>
    <hr>

    <!-- 4レーン表示 -->
    <div id="lanes">

        <div class="lane" id="lane1">
            <h2>レーン1</h2>
            <div class="team">チーム：</div>
            <div class="odai">お題：</div>
            <div class="score">スコア：</div>
        </div>

        <div class="lane" id="lane2">
            <h2>レーン2</h2>
            <div class="team">チーム：</div>
            <div class="odai">お題：</div>
            <div class="score">スコア：</div>
        </div>

        <div class="lane" id="lane3">
            <h2>レーン3</h2>
            <div class="team">チーム：</div>
            <div class="odai">お題：</div>
            <div class="score">スコア：</div>
        </div>

        <div class="lane" id="lane4">
            <h2>レーン4</h2>
            <div class="team">チーム：</div>
            <div class="odai">お題：</div>
            <div class="score">スコア：</div>
        </div>

    </div>
    <div id="ScoreLank">
        <h2>スコア</h2>
        <div class="scoreRank" id="scoreRank1">1位：</div>
        <div class="scoreRank" id="scoreRank2">2位：</div>
        <div class="scoreRank" id="scoreRank3">3位：</div>
    </div>

    <script src="/static/display.js"></script>

</body>

</html>